# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

##
*.iml
.idea
gradle
out
/gradlew
/gradlew.bat
/test-results/
target
# for Eclipse
.settings
.project
bin

